xml/process-spec.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="process-spec" >
      <ref name="process-info"/>
      <ref name="process"/>
    </element>
  </start>

  <define name="process-info">
    <element name="process-info">
      <interleave>
        <element name="author">
          <text/>
        </element>
        <element name="date">
          <text/>
        </element>
        <element name="name">
          <text/>
        </element>
        <element name="public">
          <text/>
        </element>
        <element name="description">
          <text/>
        </element>
        <element name="start-node">
          <text/>
        </element>
      </interleave>
    </element>
  </define>

  <define name="process">
    <element name="process">
      <interleave>
        <oneOrMore>
          <ref name="node"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="connector"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="node">
    <element name="node">
      <attribute name="id"><text/></attribute>
      <attribute name="class"><text/></attribute>
      <text/>
    </element>
  </define>

  <define name="connector">
    <element name="connector">
      <attribute name="from"><text/></attribute>
      <attribute name="to"><text/></attribute>
      <text/>
    </element>
  </define>
</grammar>
